
<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row d-flex contact-info">
            <div class="col-md-12">
                <h2 class="h4 font-weight-bold">İletişim Bilgileri</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span>Adres:</span> @ViewBag.address</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span>Telefon:</span> <a href="tel://@ViewBag.phone">@ViewBag.phone</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span>E-posta:</span> <a href="mailto:@ViewBag.email">@ViewBag.email</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span>Website</span> <a href="https://@ViewBag.website">@ViewBag.website</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

