<section class="ftco-section ftco-intro" style="background-image: url(/Templates/tasteit-master/images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span>Şimdi Rezervasyon Yap</span>
                <h2>Özel Yemekler &amp; Mutlu Müşteriler</h2>
            </div>
        </div>
    </div>
</section>
