<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Dashboard/Index">
        <div class="sidebar-brand-icon">
            <i style="font-size:xx-large" class="fas fa-user-alt"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Tasteit.Food Yönetici Paneli</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/Dashboard/Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/Category/CategoryList">
            <i class="fas fa-fw fa-folder-open"></i>
            <span>Kategoriler</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/Product/ProductList">
            <i class="fas fa-drumstick-bite"></i>
            <span>Ürünler</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/Menu/MenuList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Menüler</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/Chefs/ChefList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Şefler</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/Reservation/ReservationList">
            <i class="fas fa-concierge-bell"></i>
            <span>Rezervasyonlar</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/Notification/NotificationList">
            <i class="fas fa-bell"></i>
            <span>Bildirimler</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/Contact/ContactList">
            <i class="fas fa-envelope fa-fw"></i>
            <span>Mesajlar</span>
        </a>
    </li>
    <hr class="sidebar-divider" />
    <li class="nav-item">
        <a class="nav-link" href="/Address/AddressList">
            <i class="	fas fa-map-marker-alt"></i>
            <span>İletişim Bilgileri</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/About/AboutList">
            <i class="fas fa-info-circle fa-fw"></i>
            <span>Hakkımızda Bilgileri</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/OpenDayHour/OpenDayHourList">
            <i class="fas fa-clock fa-fw"></i>
            <span>Çalışma Saatleri</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/Admin/AdminList">
            <i class="fas fa-user-tie"></i>
            <span>Hesaplar</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/Settings/Adjust">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Ayarlar</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/Login/Logout">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Çıkış Yap</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="version" id="version-ruangadmin"></div>
</ul>