@model List<TestFoodIt.Entities.Contact>

<div class="col-xl-4 col-lg-5 ">
    <div class="card">
        <div class="card-header py-4 bg-primary d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-light">Müşteri Mesajları</h6>
        </div>
        @helper CalculateDateDifferenceInMinutes(DateTime date)
        {
            DateTime now = DateTime.Now;
            TimeSpan difference = now - date;
            int differenceInMinutes = (int)difference.TotalMinutes;
            @differenceInMinutes @: dakika önce
        }
        <div>
            @foreach (var item in Model)
            {

                <div class="customer-message align-items-center">
                    <a class="font-weight-bold" href="/Contact/ContactUpdate/@item.ContactId">
                        <div class="text-truncate message-title">
                            @item.Message
                        </div>
                        <div class="small text-gray-500 message-time font-weight-bold">@item.NameSurname · @CalculateDateDifferenceInMinutes(item.SendDate)</div>
                    </a>
                </div>
            }

            <div class="card-footer text-center">
                <a class="m-0 small text-primary card-link" href="/Contact/ContactList">
                    Hepsini Göster <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>


